@inherits LayoutComponentBase

@* TS-01:21:39-01:38:54 adding navmenu to start of component *@
<NavMenu/>
@* TS-01:13:00-01:21:39 container around our main container *@
<div class="container">
    @Body
</div>

