@* TS-01:21:39-01:38:54 Non navigating component as it does not have the routing part *@

@* TS-01:21:39-01:38:54 deleting all of this as not needed 
<h3>NavMenu</h3>

@code {

}
*@

@* TS-01:21:39-01:38:54 copied from bootstrap website *@
@* TS-01:21:39-01:38:54 adding dark theme from bootstrap documentation, replacing container-fluid with container *@
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    @* TS-01:21:39-01:38:54 renaming title to Game Store *@
    <span class="navbar-brand mb-0 h1">GameStore</span>
  </div>
</nav>